header {
    background: black;
    color: white;
    text-align: center;
    font-size: 150%;
    padding: 1px;
}

.titulado {
    background: #736F5A;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique normal sans-serif;
    font-weight: normal;
    border: 3px solid rgb(189, 182, 146);
    padding: 7px 0 7px 0

}
.titulado2 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique normal sans-serif;
    font-weight: normal;
    text-decoration: underline;
    font-size: 110%;
}

blockquote[cite] {
    color: gray
}

p {
    font-size: 14px;
    background-color: white;
    
}

.parrafo {
    padding: 30px;
    text-align: justify;
}

time[datetime] {
    font-size: 70%;
    color: gray;
}

body {
    background-color: #FFFBE2;
}
.final {
    font-weight: lighter;
    font-size: x-small;
    font-variant: small-caps;
    text-align: center;
    clear: both;
}
nav {
    background-color: #000;
    color: #fff;
    font-size: 125%;
    text-align: center;
    font-weight: bold;
    
}
div {
    width: 95%;
    margin: auto}

.menu li {
    display: inline-block;
    padding: 5px;
}

section {
    padding: 3px 20px 0 20px;
    width: 60%;
    float: left;
} 

aside {
    width: 30%;
    border: solid rgb(189, 182, 146) 3px;
    float: left;
    padding: 3px 35px 0 20px;
    background-color: white;
    margin: 23px 0 0 0;
}
aside blockquote {
    padding: 100px 0 100px 0;
    text-align: center;
}

article footer p {
    text-align: right;
    font-weight: lighter;
}

img {
    width: 180px;
    display: block;
    margin: auto;
}
address {
    margin: 30px 0 60px 0;
}